* {
    bg-col: #1e1e2e;
    bg-col-light: #181825;
    border-col: #89b4fa;
    selected-col: #45475a;
    green: #a6e3a1;
    fg-col: #cdd6f4;
    fg-col2: #bac2de;
    grey: #6c7086;
    highlight: @green;
    element-bg: #1e1e2e;
    element-alternate-bg: #181825;
}
